# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Banco de dados SQLite
*.db

# Arquivos de sistema
.DS_Store

# Arquivos de log
*.log

# Configurações do editor
.vscode/
.idea/

# Variáveis de ambiente
.env
